button {
    width:75px;
    height:100px;
    border-radius:50px;
    border:none;
    background:linear-gradient(140deg,blue, violet);
    
    color:white;
    font-size:2rem;
    font-weight:bold;
    cursor:pointer;
}

#keys {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding:25px;
}

#calculator {
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius:15px;
    max-width:450px;
    overflow:hidden; /*changed it from hidden to auto here*/
}

#display {
    margin-top: 50px;
    
    width:100%;
    padding:20px;
    font-size:3rem;
    text-align: left;
    border:none;
    color:white;
    background-color: hsl(0,0%,20%);

}

body {
    margin:0;
    display:flex;
    align-items: center;
    justify-content:center;
    height:100vh;
    background-color: hsl(0, 18%, 90%);
    font-family: sans-serif;
}

button:hover {
    background-color: hsl(0,0%,40%);
}

button:active {
    background-color: hsl(0,0%,50%);
}

.operator_btn {
    background-color: hsl(35,100%,55%);
}

.operator_btn:hover {
    background-color: hsl(35,100%,65%);
}
.operator_btn:active {
    background-color: hsl(35,100%,75%);
}